* {
  box-sizing: border-box;
  color: #decdc3;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #2d4059;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-top: 5%;
}


header span {
  background-color: #2d4059;
  color: #decdc3;
  font-size: 1.5rem;
  padding: 0  15px 0 5px;

}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(27, 11, 1, 0.9),
    rgba(27, 11, 1, 0.9)
  );
  height: 100vh;
}
.body-wrapper {
  width: 600px;
  margin: 0 auto;
}
.location {
  text-align: center;
}

.location h1 {
  color: #decdc3;
}

.location i {
  color: #ea5455;
}

.weather-search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: #3f4d61;
  box-shadow: 1px 7px 1px 0px #e5e5e548;
  color: white;
  font-size: 1rem;
  margin-bottom: 15px;
}

input[type=text]:focus {
  background-color: #2d4059;
  box-shadow: 1px 7px 1px 0px #e5e5e57a;
}

input[type=submit] {
  width: 20%;
  padding: 5px;
  color: #2d4059;
  border-radius: 20px;
  outline: none;
  background-color: #decdc3;
  text-transform: uppercase;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #ea5455;
  color: #decdc3;
}

.status-report-and-translation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5%;
}

.status-metric {
 font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  color: #decdc3; 
}


.status-report-and-translation span {
  font-size: 4rem;
  font-weight: 900;
  line-height: 0;
  font-style: normal;
  color: #ea5455;
}

.weather-translation {
  text-transform: capitalize;
}

.date-and-variance-report {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -40px;
  font-size: 0.8rem;
}

.high-and-low {
  font-size: 1.2rem;
  color: #ea5455;
}

.date-and-variance-report span {
  color: #ea5455;
}