* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #2d4059;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-top: 5%;
}

header span {
  background-color: #2d4059;
  font-size: 1.5rem;
  padding: 0  15px 0 5px;

}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(27, 11, 1, 0.9),
    rgba(27, 11, 1, 0.9)
  );
  height: 100vh;
}
.body-wrapper {
  width: 600px;
  margin: 0 auto;
}
.location {
  text-align: center;
}

.weather-search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: #3f4d61;
  box-shadow: 1px 7px 1px 0px #e5e5e548;
  color: white;
  font-size: 1rem;
  margin-bottom: 15px;
}

input[type=text]:focus {
  background-color: #2d4059;
  box-shadow: 1px 7px 1px 0px #e5e5e57a;
}

input[type=submit] {
  width: 20%;
  padding: 5px;
  color: #2d4059;
  border-radius: 20px;
  outline: none;
  background-color: #decdc3;
  text-transform: uppercase;
  font-weight: bold;
}