* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #2d4059;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-top: 5%;
}

header span {
  background-color: #2d4059;
  font-size: 1.5rem;
  padding: 0  15px 0 5px;

}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(222,205,195, 0.9),
    rgba(222,205,195, 0.9)
  );
  height: 100vh;
}
.body-wrapper {
  width: 600px;
  margin: 0 auto;
}
.location {
  text-align: center;
}

input[type=text] {
  width: 100%;
}
